/* - - - - - - - - - - - - Base - - - - - - - - - -  */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #203362;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

h1 {
  margin: 0;
}

input{
  padding: 10px 5px;
  margin: 8px;
  color: #203362;
  background: #FFF;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
  min-width: 300px;
  font-size: 1em;
}

button {
  padding: 10px 5px;
  margin: 8px;
  color: #203362;
  background: #FFF;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  max-width: 400px;
  min-width: 300px;
  font-size: 1em;
  font-weight: 500;
}

.mb1{
  margin-bottom: 10px;
}

.mb3{
  margin-bottom: 30px;
}

.logo {
  width: 140px;
  margin-top: 20px;
}

.small-icon {
  height: 30px;
}

.toast {
  min-width: 300px;
  margin-left: -150px;
  background-color: #ff9798;
  color: #000000;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}


/* - - - - - - - - - - - - - - App - - - - - - - - - - - - -  */

.App {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  margin-top: 4vh;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.App-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  box-sizing: border-box;
}

/* - - - - - - - - - - - - - User - - - - - - - - - - - - -  */


.User {
  background-color: #FFFFFF;
  color: #000;
  width: 100%;
  min-width: 300px;
  max-width: 900px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #FFF;
  box-sizing: border-box;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 25% 1fr 1fr ;
  grid-template-rows: 50% 50%;
}

.User-username {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
}

.User-info {
  font-size: 16px;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px 0;
}

.tag {
  color: #999999;
}

.username{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.email{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.phone {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.website {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.Statistics {
  background-color: #ff9798;
  color: #203362;
  width: 100%;
  min-width: 300px;
  max-width: 900px;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #ff9798;
  box-sizing: border-box;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 25% 1fr 25% ;
  grid-template-rows: 50% 50%;
}

